:root {
  --background: #000;
  --white: #fff;
  --purple: #711a75;
  --light-green: #00ffdd;
  --soft-green: #5ee6eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Red Hat Text", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
